body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  background: url('img/background.jpeg') no-repeat center center;
  background-size: cover;
}

.profile {
  background: url('img/background2.jpeg') no-repeat center center;
  background-size: cover;
}

.navbar {
  background: rgba(178, 105, 27, 0.9);
  color: white;
  display: flex;
  align-items: center;
  padding: 12px;
}

.menu {
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
}

#isiMenu {
  display: none;
  background: rgba(210, 166, 121, 0.9);
  padding: 10px;
}

#isiMenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

#isiMenu a:hover {
  background: #f5d7b2;
}

.home .foto {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px auto;
  display: block;
}

.container {
  text-align: center;
  margin: 60px auto;
  padding: 25px;
  border-radius: 15px;
  width: 70%;
  color: black;
}

.foto {
  width: 360px ;
  height: 350px ;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

.anggota ul {
  list-style: none;
  padding: 0;
}

.anggota li {
  margin: 5px 0;
}