body {
  margin: 0;
  font-family: Arial;
  background: #e8ded2;
}

.navbar {
  background: #b2691b;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu {
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
}

#isiMenu {
  display: none;
  background: #d2a679;
  padding: 10px;
}

#isiMenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

#isiMenu a:hover {
  background: #f5d7b2;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.foto {
  width: 300px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px 0;
}

.anggota ul {
  list-style: none;
  padding: 0;
}

.anggota li {
  margin: 5px 0;
}
body {
  background-image: url('background.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}